/* @import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
body {
  font-family: 'Cinzel', cursive;
} */

/* @import url('https://fonts.googleapis.com/css?family=Cinzel:700&display=swap');
body {
  font-family: 'Cinzel:700', cursive;
} */

/* @import url('https://fonts.googleapis.com/css?family=Oldenburg&display=swap');
body {
  overflow-y:scroll;
  font-family: 'Oldenburg', cursive;
} */

@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

body {
  font-family: 'El+Messiri', sans-serif;
  overflow-y:scroll;
}

.welcomeHodalHeader {
  font-size: 125%;
}
.welcomeModal {
  height: 14vh;
  font-size: 100%;
}
.aboutImg {
  /* background-image: url("./images/general/aboutMe.gif"); */
  width: 100%
}
.sticky-top {
  background-color: #F9F9F9;
}
.navbarBrand {
  /* background-image: url("./images/general/logo.png"); */
  height: 4vh;
}
.logo {
  height: 100%
}
.jumbotronImgContainer {
  height: 55vh;
}
.jumbotronImg {
  /* background-image: url("./images/general/jumbotron.jpg"); */
  width: 100%;
  height: 100%;
  position: relative;
  background-Repeat: no-repeat;
  object-fit: cover
}
.jumbotronText {
  top: 15%;
  right: 10%;
  color: black;
  text-shadow: 1px 1px white
}
.productListItemCardSize {
  height: 36vh;
  background-color: rgba(245, 245, 245, 0.6)
}
.productListItemImgContainer {
  height: 100%;
}
.productListItemImg {
  width: 50%;
  height: 100%;
  background-size: cover;
}
.productDetailsWrapper {
  height: 50vh;
}
.productDetailsImgContainer {
  height: 75%;
  width: 30%;
  display: inline-block
}
.productDetailsImg {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat
}
.productDetailsInfoWrapper {
  width: 70%
}
.productDetailsHeaderSize {
  height: 30%;
  width: 100%;
  font-size: 150%
}
.productDetailsStatsSize {
  height: 70%;
  font-size: 125%;
}
.productDetailsTooltip {
  width: 3.5%;
  vertical-align: top;
  /* background-image: url("./images/general/abv.png"); */
  /* background-image: url("./images/general/ibu.png"); */
}
.productDetailsModalBody {
  height: 50vh;
}
.productDetailsModalImgWrapper {
  height: 100%;
}
.productDetailsModalImgContainer {
  height: 100%;
}
.productDetailsModalImg {
  height: 70%;
}
.productDetailsText {
  position: relative;
  top: 40%;
}
.emptyCartImg {
  /* background-image: url("./images/general/emptyCart.png") */
}
.cartQtyText {
  font-size: 60%
};
.csiCartViewBody {
  height: 31vh;
  width: 30vw;
}
.csiOtherViewBody {
  /* height: 33vh;
  width: 30vw; */
}
.csiImgContainer {
  width: 10vw;
}
.csiImg {
  width: 100%;
  height: 100%;
}
.csiRemoveModal {
  height: 50vh;
}
.csiModalImg {
  height: 70%;
}
.csiRemoveMOdalText {
  position: relative;
  top: 30%;
}

.priceSummaryTooltip {
  vertical-align: top;
}
.ccLogoWrapper {
  font-size:250%;
}
.checkoutConfirmationModal {
  height: 36vh;
}
.confirmationFontSize {
  font-size: 60%;
}

.form-control:focus {
  border-color: rgb(226, 226, 226);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(155, 153, 153, 0.6);
}
.drinkResponsible {
  font-size: 75%;
  /* margin-bottom: 3%; */
}

 /* ----------- Thinkpad x250 ----------- */
@media only screen
  and (max-width: 1366px)
  and (orientation: landscape) {
    .welcomeModal {
      height: 20vh;
      font-size: 100%;
    }
    .productListItemCardSize {
      height: 41vh;
    }
    .productDetailsModalText {  /* productDetails, cart-summary-item */
      position: relative;
      top: 34%;
    }
    .productDetailsTooltip {
      width: 5.5%;
      vertical-align: top;
    }
    .drinkResponsible {
      font-size: 75%;
      margin-bottom: 3%;
    }
    .csiCartViewBody {
      height: 30vh;
    }
    .csiOtherViewBody {
      height: 45%
    }
    .checkoutConfirmationModal {
      height: 53vh;
    }
    .ccLogoWrapper {
      font-size: 200%;
    }
  }


/* ----------- iPad ----------- */

/* Portrait */
@media only screen
  and (max-width: 768px)
  and (orientation: portrait) {
    .jumbotronImgContainer {
      height: 25vh;
    }
    .productListItemCardSize {
      height: 30vh;
      /* also need to apply col-3 on line 10*/
    }
    .productDetailsWrapper {
      height: 40vh;
    };
    .productDetailsImgContainer {
      height: 65%;
    }
    .drinkResponsible {
      /* font-size: 75%;
      margin-bottom: 3%; */
    }
    .productDetailsModalText {  /* productDetails, cart-summary-item */
      position: relative;
      top: 34%;
    }
  }
